extends ./layout/index

block slider
    .slider 
        h1 Viví tu Destino
        en hora de la aventura

block contenido
    main.container.mt-5 
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6 
                p En nuestra agencia, nos apasiona el arte de explorar y crear aventuras únicas para nuestros viajeros. Nuestro objetivo es ofrecerte mucho más que simples vacaciones; queremos brindarte momentos mágicos que permanecerán en tu memoria para siempre.
                p Imagina deslizarte por las deslumbrantes playas de arenas doradas mientras el sol acaricia tu piel. O quizás prefieras sumergirte en la fascinante historia de ciudades ancestrales, donde cada callejón esconde secretos del pasado. Tal vez tu sueño sea adentrarte en exuberantes selvas tropicales, donde la naturaleza te abraza con su esplendor.

                p Nos especializamos en crear itinerarios personalizados que se adaptan a tus gustos y deseos. Trabajaremos estrechamente contigo para comprender tus preferencias y necesidades, y así diseñar el viaje perfecto que se ajuste a tu estilo de vida. Ya sea que busques unas vacaciones relajantes en un resort de lujo o una aventura llena de adrenalina en la montaña, nosotros lo haremos realidad.

            .col-md-6
                img(src='/img/inicio_nosotros.jpg', alt='Imagen Nosotros', class='img_fluid')
        include ./layout/bloque_viajes.pug

    .descuento 
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 5% de Descuento 
                        a.titulo Viaje a Canada 
                        a.fecha 20 de Noviembre de 2023 - 28 de Noviembre de 2023
                        p.precio $2,500 USD


    .container 
        h2.mt-5.text-center Testimoniales
            include ./layout/testimoniales