extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote  Nuestro compromiso va más allá de la planificación del viaje. Nos aseguramos de que cada paso del camino esté lleno de comodidad y satisfacción. Trabajamos con los mejores proveedores de servicios de viajes, desde aerolíneas hasta hoteles de renombre, para garantizar que cada aspecto de tu experiencia sea excepcional.

                p Además, nos enorgullece ofrecer un servicio al cliente de primer nivel. Nuestro equipo de expertos en viajes está disponible las 24 horas del día, los 7 días de la semana, para atender cualquier consulta o inquietud que puedas tener. Tu tranquilidad y felicidad son nuestra máxima prioridad.

                p Así que, ¿estás listo para embarcarte en una aventura inolvidable? Déjanos guiarte por un mundo de descubrimientos asombrosos, culturas fascinantes y paisajes impresionantes.
    
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row    
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Trabajamos en estrecha colaboración con proveedores confiables y establecidos que cumplen con rigurosas normas de seguridad y calidad. Además, contamos con un equipo de expertos en seguridad que monitorea constantemente las condiciones y situaciones en cada destino.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Desde las deslumbrantes playas de arena blanca en las Maldivas hasta los majestuosos picos de los Alpes suizos, tenemos algo para todos los amantes de los viajes. ¿Te gustaría explorar las antiguas ruinas de Machu Picchu en Perú o disfrutar de la animada vida nocturna de Tokio en Japón? ¿O tal vez prefieres sumergirte en la exuberante selva amazónica en Brasil? 

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Ofrecemos opciones de financiamiento y paquetes personalizados que se adaptan a diferentes presupuestos y necesidades. Queremos que disfrutes al máximo de tu viaje sin tener que preocuparte por los costos excesivos.
                    